<main data-ts="Main">
    <div data-ts="MainContent">

        <div class="wrapper">
            <h1>Determine triangle type</h1>
            <form data-ts="Form" name="form" [formGroup]="triangleForm" (ngSubmit)="onSubmit()">
                <fieldset>
                    <label [class.ts-error]="submitted && !triangleForm.controls.side1.valid">
                        <span>Side 1 length</span>
                        <input name="side1" formControlName="side1" />
                    </label>
                    <dl class="ts-errors" *ngIf="submitted && !triangleForm.controls.side1.valid">
                        <dd>This field is required, and must be a valid number</dd>
                    </dl>
                </fieldset>
                <fieldset>
                    <label [class.ts-error]="submitted && !triangleForm.controls.side2.valid">
                        <span>Side 2 length</span>
                        <input name="side2" formControlName="side2" />
                    </label>
                    <dl class="ts-errors" *ngIf="submitted && !triangleForm.controls.side2.valid">
                        <dd>This field is required, and must be a valid number</dd>
                    </dl>
                </fieldset>
                <fieldset>
                    <label [class.ts-error]="submitted && !triangleForm.controls.side3.valid">
                        <span>Side 3 length</span>
                        <input name="side2" formControlName="side3" />
                    </label>
                    <dl class="ts-errors" *ngIf="submitted && !triangleForm.controls.side3.valid">
                        <dd>This field is required, and must be a valid number</dd>
                    </dl>
                </fieldset>
                <button #submitButton data-ts="Button" class="ts-primary btn-submit submit" type="submit">
                    <span>Determine type</span>
                </button>
            </form>

            <div class="resultWrapper" *ngIf="result">
                Triangle type is : {{result}}
            </div>
        </div>

    </div>

</main>